
BillingSystem/.vs/BillingSystem/FileContentIndex/33ab18d5-f5d5-4c63-8837-eba39778811f.vsidx
BillingSystem/.vs/BillingSystem/FileContentIndex/48c80fc3-c8b6-414f-8a1d-4e079343cf2e.vsidx
BillingSystem/.vs/BillingSystem/FileContentIndex/7aab72f1-b4fe-4c68-9287-c812aba78594.vsidx
BillingSystem/.vs/BillingSystem/FileContentIndex/a8ff33ba-11cf-4bb2-9984-4bc3f9046286.vsidx
BillingSystem/.vs/BillingSystem/FileContentIndex/ab85fb19-2ba0-432f-803b-e04a82ef0ad5.vsidx
BillingSystem/.vs/BillingSystem/FileContentIndex/ba3138ed-84f4-4b64-abfd-1d8c38eb443e.vsidx
BillingSystem/.vs/BillingSystem/FileContentIndex/c481c698-91a2-4077-89f3-fa3c1a177e28.vsidx
BillingSystem/.vs/BillingSystem/FileContentIndex/c7f197dc-2e06-450d-802b-e9b158646d69.vsidx
BillingSystem/.vs/BillingSystem/FileContentIndex/e67b176c-c2b1-465c-8b7b-b0c213453ebb.vsidx
BillingSystem/.vs/BillingSystem/FileContentIndex/ec87d796-8585-4891-8688-5e7e4d83b2b8.vsidx
BillingSystem/.vs/BillingSystem/v17/.suo
BillingSystem/BillingSystem/BillingSystem.csproj.user
BillingSystem/BillingSystem/bin/Debug/BillingSystem.exe
BillingSystem/BillingSystem/bin/Debug/BillingSystem.pdb
BillingSystem/BillingSystem/bin/Debug/Common.ini
BillingSystem/BillingSystem/bin/Debug/Logs/Business.log
BillingSystem/BillingSystem/Common.ini
BillingSystem/BillingSystem/obj/Debug/BillingSystem.csproj.AssemblyReference.cache
BillingSystem/BillingSystem/obj/Debug/BillingSystem.csproj.CopyComplete
BillingSystem/BillingSystem/obj/Debug/BillingSystem.csproj.CoreCompileInputs.cache
BillingSystem/BillingSystem/obj/Debug/BillingSystem.csproj.FileListAbsolute.txt
BillingSystem/BillingSystem/obj/Debug/BillingSystem.csproj.GenerateResource.cache
BillingSystem/BillingSystem/obj/Debug/BillingSystem.exe
BillingSystem/BillingSystem/obj/Debug/BillingSystem.pdb
BillingSystem/BillingSystem/obj/Debug/DesignTimeResolveAssemblyReferences.cache
BillingSystem/BillingSystem/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BillingSystem/¥Work¥Books.mdf
BillingSystem/¥Work¥Books_log.ldf
